<% if (user) { %>
    <div class="user-info">
        <p class="username">User: <%= user.username %></p>
        <span class="role" style="display: none;"><%= user.isAdmin ? 'admin' : 'standard' %></span>

        <div class="button-container">
            <% if (user.isAdmin) { %>
                <div id="addSkillContainer" class="newSkill-container" style="display: block">
                    <a href="/skills/electronics/add" class="newSkill-button button">
                        <i class="fa-solid fa-plus"></i> Add New Skill
                    </a>
                </div>

                <div id="dashboardContainer" class="dashboard-container" style="display: block">
                    <a href="/admin/dashboard" class="dashboard-button button">
                        <i class="fa-solid fa-bars"></i> Dashboard
                    </a>
                </div>

                <div id="leaderboardContainer" class="leaderboard-container" style="display: block">
                    <a href="/users/leaderboard" class="leaderboard-button button">
                        <i class="fa-solid fa-ranking-star"></i> Leaderboard
                    </a>
                </div>
            <% } %>

            <div id="aboutContainer" class="about-container" style="display: block">
                <a href="#" class="about-button button">
                    <i class="fa-solid fa-info-circle"></i> About Us
                </a>
            </div>

            <div id="logoutContainer" class="logout-container" style="display: block">
                <a href="#" onclick="logout(); return false;" class="logout-button button">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </div>
        </div>
    </div>
<% } else { %>
    <div class="user-info">
        <p class="username">User: None</p>
        <div class="button-container">
            <div id="loginContainer" class="login-container" style="display: block">
                <a href="/users/login" class="login-button button">
                    <i class="fa-solid fa-right-to-bracket"></i> Login
                </a>
            </div>

            <div id="aboutContainer" class="about-container" style="display: block">
                <a href="#" class="about-button button">
                    <i class="fa-solid fa-info-circle"></i> About Us
                </a>
            </div>
        </div>
    </div>
<% } %>

<script>
    async function logout() {
        try {
            const response = await fetch('/users/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({})
            });

            if (response.ok) {
                window.location.href = '/users/login';
            } else {
                console.error('Logout failed', response.status);
            }
        } catch (error) {
            console.error('Error during logout:', error);
        }
    }
</script>