<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Skill</title>
    <link rel="stylesheet" href="/css/skills.css">
    <script type="module" src="/scripts/add_skill.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
<div class="wrapper">
    <div id="confirmation-modal" class="modal hidden">
        <div class="modal-content">
            <p>Are you sure you want to cancel? Changes will not be saved.</p>
            <button id="confirm-exit" class="btn confirm">Yes, Leave page</button>
            <button id="cancel-exit" class="btn cancel">No, Stay</button>
        </div>
    </div>

    <form action="/skills/<%= skillTree %>/add" method="POST" enctype="multipart/form-data">
        <section id="skill-header">
            <article class="skill-title">
                <label for="skill-name">Skill Name:</label>
                <textarea id="skill-name" name="text" spellcheck="false" required></textarea>
            </article>
            <article class="skill-score">
                <label for="skill-score">Skill Score:</label>
                <input type="number" min="1" id="skill-score" name="points" value="" required>
            </article>
        </section>

        <!-- Visualization Section -->
        <section id="skill-visualization">
            <div class="details-svg"></div>
        </section>

        <!-- Description Section -->
        <section id="skill-description">
            <h2>Description</h2>
            <label for="edit-skill-description"></label>
            <textarea id="edit-skill-description" name="description" spellcheck="false" required></textarea>
        </section>

        <!-- Tasks Section -->
        <section id="tasks-to-complete">
            <h2>Tasks to Complete</h2>
            <label for="task-list"></label>
            <textarea id="task-list" name="tasks" spellcheck="false" required>

            </textarea>
        </section>

        <!-- Resources Section -->
        <section id="resources">
            <h2>Resources</h2>
            <label for="resource-list"></label>
            <textarea id="resource-list" name="resources" spellcheck="false" required>

            </textarea>
        </section>

        <section id="upload">
            <h2>Upload Icon (30x30 png):</h2>
            <label for="icon-upload"><i class="fa-solid fa-file"></i> Choose a File</label>
            <input type="file" name="icon" id="icon-upload" accept="image/png">
            <p class="file-name" id="file-name">No file selected</p>
            <img id="icon-preview" src="#" alt="Icon Preview" style="display: none">
        </section>

        <!-- Submit Button -->
        <button id="create" type="submit" name="action" value="Create"><i class="fa-solid fa-plus"></i> Create</button>
        <button id="cancel" type="submit" name="action" value="cancel"><i class="fa-solid fa-xmark"></i> Cancel</button>
    </form>
</div>
</body>
</html>