<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
    <script type="module" src="../scripts/dashboard.js"></script>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="container">
        <button class="mng-badges" type="button"><i class="fa-solid fa-star"></i> Manage Badges</button>
        <button class="mng-users" type="button"><i class="fa-solid fa-user"></i> Manage Users</button>
    </div>
</body>
</html>