<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="module" src="/js/main_page.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p> Sistemas Web (2024-2025)</p>
  </body>
</html>
