<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web-Skill Tree : Electronics</title>
    <link rel="stylesheet" href="./css/style.css">
    <script type="module" src="../scripts/build_index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="/css/messages.css">
</head>
<body>
<h1>ELECTRONICS</h1>
<%- include('partials/messages') %>

<div class="svg-container"></div>

<div class="description-index"></div>
<div class="button-container">
    <div class="<% if (session.role !== "admin" && session.role !== "standard") { %> login-container <% } else { %> logout-container <% } %>">
        <button class="<% if (session.role !== "admin" && session.role !== "standard") { %> login-button <% } else { %> logout-button <% } %>">
            <% if (session.role !== "admin" && session.role !== "standard") { %>
                <i class="fa-solid fa-right-to-bracket"></i> Login
            <% } else { %>
                <i class="fas fa-sign-out-alt"></i> Logout
            <% } %>
        </button>
    </div>

    <div id="addSkillContainer" class="newSkill-container" style="display: none">
        <button class="newSkill-button">
            <i class="fa-solid fa-plus"></i> Add New Skill
        </button>
    </div>

    <div id="dashboardContainer" class="dashboard-container" style="display: none">
        <button class="dashboard-button">
            <i class="fa-solid fa-bars"></i> Dashboard
        </button>
    </div>

    <div id="leaderboardContainer" class="leaderboard-container" style="display: none">
        <button class="leaderboard-button">
            <i class="fa-solid fa-ranking-star"></i> Leaderboard
        </button>
    </div>
</div>
<p class="role" style="display: none"> '<%= session.role %>'</p>
</body>
</html>
