<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web-Skill Tree : Users</title>
    <link rel="stylesheet" href="/css/manage_users.css">
    <script type="module" src="../scripts/build_users.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="/css/messages.css">
</head>
<body>
<%- include('partials/messages') %>

<h1>Manage Users</h1>
<table class="users-table">

</table>
<div class="formContainer" style="display:none">
    <form method="POST" class="passwordForm">
        <h2>Change Password</h2>
        <label for="username">Selected User: </label>
        <input type="text" name="username" id="username" readonly>
        <label for="password">New Password: </label>
        <input type="password" name="password" id="password" required>
        <button type="submit" class="changeBtn"><i class="fa-solid fa-check"></i> Confirm</button>
    </form>
</div>
</body>
</html>
