<!-- public/skill-details.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la Competencia</title>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
    <script src="/scripts/confeti.js"></script>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <script type="module" src="/scripts/build_skills.js"></script>
</body>
</html>