<!-- public/skill-details.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la Competencia</title>
    <link rel="stylesheet" href="./css/style.css"> <!-- Opcional: puedes enlazar el CSS si lo deseas -->
</head>
<body>
<h1><%= title %></h1>
<!-- Aquí más adelante añadiremos el contenido dinámico -->
</body>
</html>